<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dio.sokoban">
    <application android:icon="@drawable/ic_launcher" android:label="@string/APP_NAME"
        android:theme="@style/AppTheme">
        <activity android:name="com.dio.sokoban.SokoGameActivity"
            android:label="@string/APP_NAME" android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.dio.sokoban.SettingsActivity"></activity>
        <activity android:name="com.dio.sokoban.HtmlResViewActivity"></activity>
    </application>

</manifest>